* {
    border:        none;
    border-radius: 0;
    font-family:   "Maple Mono NF, FontAwesome, NotoSans";
    font-size:     @WAYBAR_FONT_SIZE@;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
}

window {
    color:      white;
    background: rgba(1, 1, 1, 0.4);
}

window#waybar.solo {
    background: rgba(1, 1, 1, 0.4);
}

#workspaces {
    background: rgba(40, 42, 54, 0.4);
    border-radius: 10px;
    transition: none;
}

#workspaces button {
    transition: none;
    color:      rgba(217, 216, 216, 0.4);
    background: transparent;
}

#workspaces button.visible {
    color:      rgba(217, 216, 216, 1);
}

#workspaces button.active {
    border-top: 3px solid #9aedfe;
    color: #9aedfe;
}

#workspaces button:hover {
    border-top: 3px solid #ff79c6;
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    color: #ff79c6;
}

#workspaces button.urgent {
    color:      rgba(238, 46, 36, 1);
}

#submap, #window, #battery, #clock, #cpu, #memory, #network, #pulseaudio, #custom-cmus, #idle_inhibitor, #backlight {
    margin:        0px 4px;
    padding:       0px 10px;
    min-width:     25px;
    border-radius: 10px;
    transition:    none;
    background: rgba(119, 136, 153, 0.85);
}

#battery.warning {
   color:       rgba(255, 210, 4, 1);
}

#battery.critical {
    color:      rgba(238, 46, 36, 1);
}

#battery.charging {
    color:      rgba(217, 216, 216, 1);
}

